---
---

@import "{{ site.theme }}";


.full-width {
    background-size: auto 100%;
}
.full-height {
    background-size: 100% auto;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: 'red';
}
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

div {
  max-width: 100%;
}

.full-width {
    background-size: auto 100%;
}